@property --bg-color{
	syntax:"<color>";
	inherits: false;
	initial-value: #111111;
}

@property --unfocus-color{
	syntax:"<color>";
	inherits: false;
	initial-value: #242424;
}

@property --highlight-color{
	syntax:"<color>";
	inherits: false;
	initial-value: #2d62ff;
}

@property --text-color{
	syntax:"<color>";
	inherits: false;
	initial-value: #f3f6ff;
}

html{
    scroll-behavior: smooth;
    scrollbar-color: var(--highlight-color) var(--bg-color);
}

body{
    margin: auto;
    background-color: var(--bg-color);
    background-image: radial-gradient(var(--unfocus-color) 1.25px, var(--bg-color) 1.25px);
    background-size: 25px 25px;
    background-attachment: fixed;
    color: var(--text-color);
    font-family: "Source Sans 3",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,sans-serif;
}

.darken{
    opacity: 50%;
}

h1, h2, h3, p{margin: 0;}

/* HEADER */

header{
    background-color: var(--bg-color);
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav-list{
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    list-style-type: none;
}

.nav-list-item{
    margin: 0px 50px;
    font-size: 20px;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: var(--text-color);
    user-select: none;
    -webkit-user-drag: none;
}

.nav-list-item a:hover{color: var(--highlight-color); transition: 0.2s;}

.content-section{
    height: 90vh;
    padding-top: 10vh;
}

.section-title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: auto;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 70%, var(--highlight-color) 30%);
    padding-right: 10px;
}

/* HOME */

#home{
    display: flex;
    justify-content: center;
}

.home-block{
    display:flex;
    align-items: center;
}

.home-img{
    border-radius: 50%; 
    height: 200px;
}

.home-text-block{
    margin-left: 50px;
    max-width: 500px;
}

.home-title{
    font-size: 50px;
    color: var(--highlight-color);
}

/* PROJECTS */

.card-container{
    display: inline-block;
    margin: 50px;
}

.project-card{
    display: flex;
    border: 1px solid var(--unfocus-color);
    background-color: var(--bg-color);
    border-radius: 15px;
    height: 120px;
    width: 380px;
    overflow: hidden;
}

.project-card:hover{
    border: 1px solid var(--highlight-color); color: var(--highlight-color); transition: 0.2s;
}

.project-card-text{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tag{
    border: 1px solid var(--highlight-color);
    color: var(--highlight-color);
    border-radius: 20px;
    padding: 0 5px;
    width: fit-content;
    margin-left: 8px;
}

.project-card-img{
    object-fit: cover;
}