body{
    margin: 0;
    margin-top: 15vh;
    background-color: rgb(20, 20, 20);
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-text{
    margin: 0;
}

.typewriter h1, p{
    padding-right: 5px;
}

.typewriter{
    max-width: fit-content;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .1em;
    animation: 
    typing 3s steps(40, end),
    blink-caret .75s step-end infinite;
}

ul{
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-around;
    list-style-type: none;
}

li{
    font-size: 22px;
}

a{
    text-decoration: none;
    color: white;
    user-select: none;
    -webkit-user-drag: none;
}

a:hover{text-decoration: underline; text-decoration-thickness: 2px;}

section:not(:target) {display: none;}
section:target {display: flex;}

#main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section{
    height: 100%;
    width: 60vw;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#galeria-projeto{
    margin-top: 20px;
    width: 100%;
}

.img-projeto{
    border-radius: 8px;
    width: 300px;
    height: 190px;
    object-fit: cover;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}
*/