body{
    margin: 0;
    background-color: rgb(20, 20, 20);
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
}

.title-text{
    margin: 0;
}

.typewriter h1, p{
    padding-right: 5px;
}

ul{
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-around;
    list-style-type: none;
}

li{
    font-size: 22px;
}

a{
    text-decoration: none;
    color: white;
    user-select: none;
    -webkit-user-drag: none;
}

a:hover{text-decoration: underline; text-decoration-thickness: 2px;}

section:not(:target) {display: none;}
section:target {display: flex;}

#main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section{
    height: 100%;
    width: 60vw;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#galeria-projeto{
    margin-top: 20px;
    width: 100%;
}

.img-projeto{
    border-radius: 8px;
    width: 300px;
    height: 190px;
    object-fit: cover;
}